.section__padding {
    padding: 2rem 2rem;
}

.footer {
    background-color: var(--root-color)
}

.sb__footer {
    display: flex;
    flex-direction: column;
}

.sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

hr {
    color: white !important;
    width: 100%;
}

.sb__footer-copyright p {
    font-size: 14px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}