.footer {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    margin-top: 1rem;
    display: flex;
}

.footer-social {
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: auto;
}

.footer-web-name {
    color: white;
    font-weight: bold;
    margin: 1rem;
    font-size: 2rem;
    width: auto;
}

.footer-web-name-subtitle {
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 10px;
}

.footer-web-name-line {
    color: white;
}

.footer-dev-information {
    margin: 1rem;
    color: white;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-dev-information-person {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.footer-icon {
    margin: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 915px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-dev-information-person {
        justify-content: flex-start;
    }
}