.list-container {
    max-width: 1600px;
    margin: 0 auto;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem;
}

.line {
    width: 50%;
    border: 1px solid gray;
    margin: 0.5rem;
}

.post-list-footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 915px) {
    .list-container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-size: 1.5rem;
    }
}