.post-card {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.post-card:hover {
    color: var(--primary-color);
}

.post-card-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.post-card-header-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.post-card-header-date {
    margin-top: 5px;
    font-size: 1rem;
    color: #999;
}

.post-card-body-image {
    border-radius: 10px;
}

.post-card-footer-title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
}

@media screen and (max-width: 915px) {
    .post-card {
        width: 70%;
    }

    .post-card-header-title {
        font-size: 1rem;
    }
    
    .post-card-header-date {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .post-card-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}