.carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel {
    max-width: 1600px;
    padding: 0.5rem;
}
img {
    width: 100%;
}

.carousel-image {
    width: 100%;
    border-radius: 1rem;
}