.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo-container {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.nav-bar-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.nav-bar-item {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.9rem;
    border-radius: 10px;
}

.nav-bar-item:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.logo {
    width: 5%;
    height: auto;
    padding: 0.5rem;
    cursor: pointer;
}

.menu-mobile{
    display: none;
}

.menu-desktop {
    display: block;
}

@media screen and (max-width: 1000px) {
    .header-container {
        display: none;
    }

    .logo-container {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .menu-mobile{
        display: block;
    }

    .menu-desktop {
        display: none;
    }
}