.head-logo {
    display: none;
}

.quick-menu-container {
    display: none;
}

.welcome-container {
    background-image: url('hero.jpg');
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
}

.welcome {
    display: none;
}

@media screen and (max-width: 1000px) {
    .home-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .head-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .head-logo {
        display: block;
        width: 20%;
        padding: 0.5rem;
    }

    .quick-menu-container {
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }
    
    .quick-menu-item {
        font-size: 1.5rem;
        color: var(--primary-color);
        cursor: pointer;
    }

    .welcome-container {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        background-image: none;
    }

    .welcome {
        display: block;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.5rem;
        color: var(--primary-color);
    }
}